In [4]:
import pandas as pd
import numpy as np

In [8]:
s1 = pd.Series([3,2,0,1])
s2 = pd.Series([0,3,7,2])

data = dict(applles=s1,orange = s2)
df = pd.DataFrame(data)
df

   applles  orange
0        3       0
1        2       3
2        0       7
3        1       2

In [11]:
df = pd.DataFrame([1,2,3,4])
print(df)

   0
0  1
1  2
2  3
3  4

In [17]:
df = pd.DataFrame([["Ahmet",50],["Ali",60],["Aynur",50],["Ayşe",80]],columns=["Name","Grade"],index=[1,2,3,4],dtype=float)
dict = {"name": ["ahmet","ali","aynur","ayşe"],"grade": [50,75,85,68]}

print(df)
df1 = pd.DataFrame(dict)
df1

    Name  Grade
1  Ahmet   50.0
2    Ali   60.0
3  Aynur   50.0
4   Ayşe   80.0

C:\Users\omery\AppData\Local\Temp\ipykernel_860\2436100584.py:1: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame([["Ahmet",50],["Ali",60],["Aynur",50],["Ayşe",80]],columns=["Name","Grade"],index=[1,2,3,4],dtype=float)

    name  grade
0  ahmet     50
1    ali     75
2  aynur     85
3   ayşe     68

In [20]:
dict_list=[
    {"Name":"Ahmet","Grade":72},
    {"Name":"Hüseyin","Grade":85},
    {"Name":"Şahin","Grade":97},
    {"Name":"Ali","Grade":56}
    ]

df2 = pd.DataFrame(dict_list,index=["212","232","236","456"])
df2

        Name  Grade
212    Ahmet     72
232  Hüseyin     85
236    Şahin     97
456      Ali     56