In [25]:
import pandas as pd
from numpy.random import randn as r

df = pd.DataFrame(r(3, 3),index = ["A","B","C"],  columns = ["Column1","Column2","Column3"]) 
print(df)

    Column1   Column2   Column3
A -0.653434  1.848682 -0.583948
B  0.506324  1.080310 -2.499716
C -0.165287  0.106115  1.033068

In [26]:
df["Column1"]

A   -0.653434
B    0.506324
C   -0.165287
Name: Column1, dtype: float64

In [27]:
type(df["Column1"])

pandas.core.series.Series

In [28]:
df[["Column1","Column2"]]

    Column1   Column2
A -0.653434  1.848682
B  0.506324  1.080310
C -0.165287  0.106115

In [29]:
df.loc["A"]

Column1   -0.653434
Column2    1.848682
Column3   -0.583948
Name: A, dtype: float64

In [30]:
type(df.loc["A"])

pandas.core.series.Series

In [31]:
df.loc[:,"Column1"]

A   -0.653434
B    0.506324
C   -0.165287
Name: Column1, dtype: float64

In [32]:
df.loc[:,["Column1","Column2"]]

    Column1   Column2
A -0.653434  1.848682
B  0.506324  1.080310
C -0.165287  0.106115

In [33]:
df.loc[:,["Column1","Column3"]]

    Column1   Column3
A -0.653434 -0.583948
B  0.506324 -2.499716
C -0.165287  1.033068

In [34]:
df.loc["A":"C",:"Column2"]

    Column1   Column2
A -0.653434  1.848682
B  0.506324  1.080310
C -0.165287  0.106115

In [38]:
df.iloc[0]

Column1   -0.653434
Column2    1.848682
Column3   -0.583948
Name: A, dtype: float64

In [39]:
df.loc["A","Column2"]

1.8486818698866518

In [44]:
df.iloc[0,1]

1.8486818698866518

In [50]:
df["Column4"] = pd.Series(r(3),["A","B","C"])
df

    Column1   Column2   Column3   Column4
A -0.653434  1.848682 -0.583948 -2.102433
B  0.506324  1.080310 -2.499716 -1.998604
C -0.165287  0.106115  1.033068 -1.715494

In [51]:
df["Column5"] = df["Column1"]+df["Column4"]
df

    Column1   Column2   Column3   Column4   Column5
A -0.653434  1.848682 -0.583948 -2.102433 -2.755867
B  0.506324  1.080310 -2.499716 -1.998604 -1.492280
C -0.165287  0.106115  1.033068 -1.715494 -1.880781

In [57]:
df.drop("Column4",axis=1)

    Column1   Column2   Column3   Column5
A -0.653434  1.848682 -0.583948 -2.755867
B  0.506324  1.080310 -2.499716 -1.492280
C -0.165287  0.106115  1.033068 -1.880781

In [58]:
df

    Column1   Column2   Column3   Column4   Column5
A -0.653434  1.848682 -0.583948 -2.102433 -2.755867
B  0.506324  1.080310 -2.499716 -1.998604 -1.492280
C -0.165287  0.106115  1.033068 -1.715494 -1.880781