In [5]:
import pandas as pd 

customers = {
    "CustomerId":[1,2,3,4],
    "FirstName":["Ahmet","Ali","Hasan","Canan"],
    "LastName":["Yılmaz","Korkmaz","Çelik","Toprak"]
}

orders = {
    "OrderId":[10,11,12,13],
    "CustomerId":[1,2,5,7],
    "OrderDate":["2022-02-02","2022-02-02","2022-03-02","2022-04-02"]

}

In [9]:
df_customers = pd.DataFrame(customers,columns=["CustomerId","FirstName","LastName"])
df_orders = pd.DataFrame(orders,columns=["OrderId","CustomerId","OrderDate"])

In [13]:
pd.merge(df_customers,df_orders)

   CustomerId FirstName LastName  OrderId   OrderDate
0           1     Ahmet   Yılmaz       10  2022-02-02
1           2       Ali  Korkmaz       11  2022-02-02

In [15]:
pd.merge(df_customers,df_orders,how="inner")

   CustomerId FirstName LastName  OrderId   OrderDate
0           1     Ahmet   Yılmaz       10  2022-02-02
1           2       Ali  Korkmaz       11  2022-02-02

In [16]:
pd.merge(df_customers,df_orders,how="left")

   CustomerId FirstName LastName  OrderId   OrderDate
0           1     Ahmet   Yılmaz     10.0  2022-02-02
1           2       Ali  Korkmaz     11.0  2022-02-02
2           3     Hasan    Çelik      NaN         NaN
3           4     Canan   Toprak      NaN         NaN

In [17]:
pd.merge(df_customers,df_orders,how="right")

   CustomerId FirstName LastName  OrderId   OrderDate
0           1     Ahmet   Yılmaz       10  2022-02-02
1           2       Ali  Korkmaz       11  2022-02-02
2           5       NaN      NaN       12  2022-03-02
3           7       NaN      NaN       13  2022-04-02

In [20]:
customersA = {
    "CustomerId":[1,2,3,4],
    "FirstName":["Ahmet","Ali","Hasan","Canan"],
    "LastName":["Yılmaz","Korkmaz","Çelik","Toprak"]
}
customersB = {
    "CustomerId":[5,6,7,8],
    "FirstName":["Yağmur","Çınar","Cengiz","Can"],
    "LastName":["Bilge","Turan","Yılmaz","Turan"]
}

orders = {
    "OrderId":[10,11,12,13],
    "CustomerId":[1,2,5,7],
    "OrderDate":["2022-02-02","2022-02-02","2022-03-02","2022-04-02"]
}

In [21]:
df_customersA = pd.DataFrame(customersA,columns=["CustomerId","FirstName","LastName"])
df_customersB = pd.DataFrame(customersB,columns=["CustomerId","FirstName","LastName"])

df_orders = pd.DataFrame(orders,columns=["OrderId","CustomerId","OrderDate"])

In [24]:
result = pd.concat([df_customersA,df_customersB])
result1 = pd.concat([df_customersA,df_customersB],axis=1)
result1,result

(   CustomerId FirstName LastName  CustomerId FirstName LastName
 0           1     Ahmet   Yılmaz           5    Yağmur    Bilge
 1           2       Ali  Korkmaz           6     Çınar    Turan
 2           3     Hasan    Çelik           7    Cengiz   Yılmaz
 3           4     Canan   Toprak           8       Can    Turan,
    CustomerId FirstName LastName
 0           1     Ahmet   Yılmaz
 1           2       Ali  Korkmaz
 2           3     Hasan    Çelik
 3           4     Canan   Toprak
 0           5    Yağmur    Bilge
 1           6     Çınar    Turan
 2           7    Cengiz   Yılmaz
 3           8       Can    Turan)