In [15]:
from matplotlib.pyplot import connect
import mysql.connector
from connect import sifre 
def getProducts():
    connection = mysql.connector.connect(host="localhost",user="root",password=sifre,database="node_app")
    cursor = connection.cursor()

    #cursor.execute("select * from products")
    cursor.execute("select name ,price from products")
    result1 = cursor.fetchone()
    print(result1)
    result = cursor.fetchall()
    
    for product in result:
        #print(f"name: {product[1]} price: {product[2]}")
        print(f"name: {product[0]} price: {product[1]}")


getProducts()

('Samsung S6', Decimal('2000'))
name: Samsun S7 price: 3000
name: Samsung S5 price: 1000
name: iphone 8 price: 4000
name: Samsung s8  price: 3000
name: Iphone X price: 5000
name: Samsung S7 price: 3000
name: Samsung s8  price: 5000

In [27]:
from matplotlib.pyplot import connect
import mysql.connector
from connect import sifre 
def getProducts():
    connection = mysql.connector.connect(host="localhost",user="root",password=sifre,database="node_app")
    cursor = connection.cursor()

    #cursor.execute("select * from products")
    cursor.execute("select name ,price from products where name = 'Samsung S7' and price>2500")
   
    result = cursor.fetchall()
    
    for product in result:
        print(f"name: {product[0]} price: {product[1]}")


getProducts()

name: Samsung S7 price: 3000
name: Samsung S7 price: 3000

In [28]:
from matplotlib.pyplot import connect
import mysql.connector
from connect import sifre 
def getProducts():
    connection = mysql.connector.connect(host="localhost",user="root",password=sifre,database="node_app")
    cursor = connection.cursor()

    #cursor.execute("select * from products")
    cursor.execute("select name ,price from products where name like '%Samsung%' and price>2500")
   
    result = cursor.fetchall()
    
    for product in result:
        print(f"name: {product[0]} price: {product[1]}")


getProducts()

name: Samsung S7 price: 3000
name: Samsung s8  price: 3000
name: Samsung S7 price: 3000
name: Samsung s8  price: 5000

In [35]:
from matplotlib.pyplot import connect
import mysql.connector
from connect import sifre 
def getProductsById(id):
    connection = mysql.connector.connect(host="localhost",user="root",password=sifre,database="node_app")
    cursor = connection.cursor()

    sql="select * from products where id=%s"
    params= (id,)
   
    cursor.execute(sql,params)

   
    result = cursor.fetchone()
    print(result)

getProductsById(5)

(5, 'Samsung s8 ', Decimal('3000'), '5.jpg', 'Ã§ok iyi')

In [39]:
from matplotlib.pyplot import connect
import mysql.connector
from connect import sifre 
def getProducts():
    connection = mysql.connector.connect(host="localhost",user="root",password=sifre,database="node_app")
    cursor = connection.cursor()

    #cursor.execute("select * from products")
    cursor.execute("select * from products order by name  ")
   
    result = cursor.fetchall()
    
    for product in result:
        print(f"name: {product[1]} price: {product[2]}")


getProducts()

name: iphone 8 price: 4000
name: Iphone X price: 5000
name: Samsung S5 price: 1000
name: Samsung S6 price: 2000
name: Samsung S7 price: 3000
name: Samsung S7 price: 3000
name: Samsung s8  price: 3000
name: Samsung s8  price: 5000

In [44]:
from matplotlib.pyplot import connect
import mysql.connector
from connect import sifre 
def getProducts():
    connection = mysql.connector.connect(host="localhost",user="root",password=sifre,database="node_app")
    cursor = connection.cursor()

    #cursor.execute("select * from products")
    cursor.execute("select * from products order by name desc, price desc ")
    try:
        result = cursor.fetchall()
    except mysql.connector.Error as err:
        print("hata: ",err)
    finally:
        connection.close()
    for product in result:
        print(f"name: {product[1]} price: {product[2]}")


getProducts()

name: Samsung s8  price: 5000
name: Samsung s8  price: 3000
name: Samsung S7 price: 3000
name: Samsung S7 price: 3000
name: Samsung S6 price: 2000
name: Samsung S5 price: 1000
name: Iphone X price: 5000
name: iphone 8 price: 4000