In [3]:
from matplotlib.pyplot import connect
import mysql.connector
from connect import sifre 

def getProductInfo():
    connection = mysql.connector.connect(host="localhost",user="root",password=sifre,database="node_app")
    cursor = connection.cursor()

    sql="select count(*) from products"

    cursor.execute(sql)

   
    result = cursor.fetchone()
    print(result[0])

getProductInfo()

8

In [5]:
from matplotlib.pyplot import connect
import mysql.connector
from connect import sifre 

def getProductInfo():
    connection = mysql.connector.connect(host="localhost",user="root",password=sifre,database="node_app")
    cursor = connection.cursor()

    sql="select count(name) from products where price>=2000"

    cursor.execute(sql)

   
    result = cursor.fetchone()
    print(result[0])

getProductInfo()

7

In [6]:
from matplotlib.pyplot import connect
import mysql.connector
from connect import sifre 

def getProductInfo():
    connection = mysql.connector.connect(host="localhost",user="root",password=sifre,database="node_app")
    cursor = connection.cursor()

    sql="select avg(price) from products "

    cursor.execute(sql)

   
    result = cursor.fetchone()
    print(result[0])

getProductInfo()

3250.0000

In [7]:
from matplotlib.pyplot import connect
import mysql.connector
from connect import sifre 

def getProductInfo():
    connection = mysql.connector.connect(host="localhost",user="root",password=sifre,database="node_app")
    cursor = connection.cursor()

    sql="select sum(price) from products "

    cursor.execute(sql)

   
    result = cursor.fetchone()
    print(result[0])

getProductInfo()

26000

In [8]:
from matplotlib.pyplot import connect
import mysql.connector
from connect import sifre 

def getProductInfo():
    connection = mysql.connector.connect(host="localhost",user="root",password=sifre,database="node_app")
    cursor = connection.cursor()

    sql="select min(price) from products "

    cursor.execute(sql)

   
    result = cursor.fetchone()
    print(result[0])

getProductInfo()

1000

In [9]:
from matplotlib.pyplot import connect
import mysql.connector
from connect import sifre 

def getProductInfo():
    connection = mysql.connector.connect(host="localhost",user="root",password=sifre,database="node_app")
    cursor = connection.cursor()

    sql="select max(price) from products "

    cursor.execute(sql)

   
    result = cursor.fetchone()
    print(result[0])

getProductInfo()

5000

In [12]:
from matplotlib.pyplot import connect
import mysql.connector
from connect import sifre 

def getProductInfo():
    connection = mysql.connector.connect(host="localhost",user="root",password=sifre,database="node_app")
    cursor = connection.cursor()

    sql="select name,price from products where price = (select max(price) products)"

    cursor.execute(sql)

   
    result = cursor.fetchone()
    print(result)

getProductInfo()

('Samsung S6', Decimal('2000'))