In [2]:
from connect import sifre
import mysql.connector
from datetime import datetime

def getSchool():
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password = sifre,
        database="schooldb"
    )
    cursor = connection.cursor()

    cursor.execute("select * from student")
    result = cursor.fetchall()

    for i in result:
        print(i)
getSchool()

(13, 101, 'Ahmet', 'Yılmaz', datetime.datetime(2005, 5, 17, 0, 0), 'E')
(14, 102, 'Ali', 'Can', datetime.datetime(2005, 6, 27, 0, 0), 'K')
(15, 103, 'Canan', 'Tan', datetime.datetime(2005, 7, 7, 0, 0), 'K')
(16, 104, 'Ayşe', 'Taner', datetime.datetime(2005, 8, 17, 0, 0), 'K')
(17, 105, 'Bahadır', 'Toksöz', datetime.datetime(2005, 9, 7, 0, 0), 'E')
(18, 106, 'Ali', 'Cenk', datetime.datetime(2003, 7, 27, 0, 0), 'E')
(19, 107, 'Ahmet', 'Kaya', datetime.datetime(2005, 7, 13, 0, 0), 'E')
(20, 114, 'Ahmet', 'Yüce', datetime.datetime(2005, 7, 13, 0, 0), 'E')
(21, 115, 'Ahmet', 'Yüce', datetime.datetime(2005, 7, 13, 0, 0), 'E')
(22, 116, 'Ahmet', 'Yılmaz', datetime.datetime(2005, 5, 17, 0, 0), 'E')
(23, 117, 'Ali', 'Can', datetime.datetime(2005, 6, 27, 0, 0), 'K')
(24, 118, 'Canan', 'Tan', datetime.datetime(2005, 7, 7, 0, 0), 'K')
(25, 119, 'Ayşe', 'Taner', datetime.datetime(2005, 8, 17, 0, 0), 'K')
(26, 120, 'Bahadır', 'Toksöz', datetime.datetime(2005, 9, 7, 0, 0), 'E')
(27, 121, 'Ali', 'Cenk', datetime.datetime(2003, 7, 27, 0, 0), 'E')

In [3]:
#idStudent, StudentNumber, StudentName, StudentSurname, StudentBirthday, Gender

from connect import sifre
import mysql.connector
from datetime import datetime

def getSchool():
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password = sifre,
        database="schooldb"
    )
    cursor = connection.cursor()

    cursor.execute("select StudentNumber, StudentName, StudentSurname from student")
    result = cursor.fetchall()

    for i in result:
        print(i)
getSchool()

(101, 'Ahmet', 'Yılmaz')
(102, 'Ali', 'Can')
(103, 'Canan', 'Tan')
(104, 'Ayşe', 'Taner')
(105, 'Bahadır', 'Toksöz')
(106, 'Ali', 'Cenk')
(107, 'Ahmet', 'Kaya')
(114, 'Ahmet', 'Yüce')
(115, 'Ahmet', 'Yüce')
(116, 'Ahmet', 'Yılmaz')
(117, 'Ali', 'Can')
(118, 'Canan', 'Tan')
(119, 'Ayşe', 'Taner')
(120, 'Bahadır', 'Toksöz')
(121, 'Ali', 'Cenk')

In [6]:
#idStudent, StudentNumber, StudentName, StudentSurname, StudentBirthday, Gender

from connect import sifre
import mysql.connector
from datetime import datetime

def getSchool():
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password = sifre,
        database="schooldb"
    )
    cursor = connection.cursor()

    cursor.execute("select StudentName, StudentSurname from student where gender = 'K'")
    result = cursor.fetchall()

    for i in result:
        print(i)
getSchool()

('Canan', 'Tan')
('Ayşe', 'Taner')
('Ayşe', 'Can')
('Canan', 'Tan')
('Ayşe', 'Taner')

In [7]:
#idStudent, StudentNumber, StudentName, StudentSurname, StudentBirthday, Gender

from connect import sifre
import mysql.connector
from datetime import datetime

def getSchool():
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password = sifre,
        database="schooldb"
    )
    cursor = connection.cursor()

    cursor.execute("select * from student where StudentBirthday like '%2003%'")
    result = cursor.fetchall()

    for i in result:
        print(i)
getSchool()

(18, 106, 'Ali', 'Cenk', datetime.datetime(2003, 7, 27, 0, 0), 'E')
(27, 121, 'Ali', 'Cenk', datetime.datetime(2003, 7, 27, 0, 0), 'E')

In [9]:
#idStudent, StudentNumber, StudentName, StudentSurname, StudentBirthday, Gender

from connect import sifre
import mysql.connector
from datetime import datetime

def getSchool():
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password = sifre,
        database="schooldb"
    )
    cursor = connection.cursor()

    cursor.execute("select * from student where year(StudentBirthday) =2005 and StudentName ='ali'")
    result = cursor.fetchall()

    for i in result:
        print(i)
getSchool()

(14, 102, 'Ali', 'Can', datetime.datetime(2005, 6, 27, 0, 0), 'E')

In [12]:
#idStudent, StudentNumber, StudentName, StudentSurname, StudentBirthday, Gender

from connect import sifre
import mysql.connector
from datetime import datetime

def getSchool():
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password = sifre,
        database="schooldb"
    )
    cursor = connection.cursor()

    cursor.execute("select * from student where StudentName like'%an%' or StudentSurname like'%an%'")
    result = cursor.fetchall()

    for i in result:
        print(i)
getSchool()

(14, 102, 'Ali', 'Can', datetime.datetime(2005, 6, 27, 0, 0), 'E')
(15, 103, 'Canan', 'Tan', datetime.datetime(2005, 7, 7, 0, 0), 'K')
(16, 104, 'Ayşe', 'Taner', datetime.datetime(2005, 8, 17, 0, 0), 'K')
(23, 117, 'Ayşe', 'Can', datetime.datetime(2005, 6, 27, 0, 0), 'K')
(24, 118, 'Canan', 'Tan', datetime.datetime(2005, 7, 7, 0, 0), 'K')
(25, 119, 'Ayşe', 'Taner', datetime.datetime(2005, 8, 17, 0, 0), 'K')

In [13]:
#idStudent, StudentNumber, StudentName, StudentSurname, StudentBirthday, Gender

from connect import sifre
import mysql.connector
from datetime import datetime

def getSchool():
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password = sifre,
        database="schooldb"
    )
    cursor = connection.cursor()

    cursor.execute("select count(*) from student where gender='E'")
    result = cursor.fetchall()

    for i in result:
        print(i)
getSchool()

(10,)

In [17]:
#idStudent, StudentNumber, StudentName, StudentSurname, StudentBirthday, Gender

from connect import sifre
import mysql.connector
from datetime import datetime

def getSchool():
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password = sifre,
        database="schooldb"
    )
    cursor = connection.cursor()

    cursor.execute("select * from student where gender='K'  order by StudentName desc ")
    result = cursor.fetchall()

    for i in result:
        print(i)
getSchool()

(15, 103, 'Canan', 'Tan', datetime.datetime(2005, 7, 7, 0, 0), 'K')
(24, 118, 'Canan', 'Tan', datetime.datetime(2005, 7, 7, 0, 0), 'K')
(16, 104, 'Ayşe', 'Taner', datetime.datetime(2005, 8, 17, 0, 0), 'K')
(23, 117, 'Ayşe', 'Can', datetime.datetime(2005, 6, 27, 0, 0), 'K')
(25, 119, 'Ayşe', 'Taner', datetime.datetime(2005, 8, 17, 0, 0), 'K')