In [2]:
#idStudent, StudentNumber, StudentName, StudentSurname, StudentBirthday, Gender
from connect import sifre
import mysql.connector
from datetime import datetime

def getStudent():
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password = sifre,
        database="schooldb"
    )
    cursor = connection.cursor()

    cursor.execute("select * from student")
    result = cursor.fetchall()

    for i in result:
        print(i)
getStudent()

(13, 101, 'Ahmet', 'Yılmaz', datetime.datetime(2005, 5, 17, 0, 0), 'E')
(14, 102, 'Ali', 'Can', datetime.datetime(2005, 6, 27, 0, 0), 'E')
(15, 103, 'Canan', 'Tan', datetime.datetime(2005, 7, 7, 0, 0), 'K')
(16, 104, 'Ayşe', 'Taner', datetime.datetime(2005, 8, 17, 0, 0), 'K')
(17, 105, 'Bahadır', 'Toksöz', datetime.datetime(2005, 9, 7, 0, 0), 'E')
(18, 106, 'Ali', 'Cenk', datetime.datetime(2003, 7, 27, 0, 0), 'E')
(19, 107, 'Ahmet', 'Kaya', datetime.datetime(2005, 7, 13, 0, 0), 'E')
(20, 114, 'Ahmet', 'Yüce', datetime.datetime(2005, 7, 13, 0, 0), 'E')
(21, 115, 'Ahmet', 'Yüce', datetime.datetime(2005, 7, 13, 0, 0), 'E')
(22, 116, 'Ahmet', 'Yılmaz', datetime.datetime(2005, 5, 17, 0, 0), 'E')
(23, 117, 'Ayşe', 'Can', datetime.datetime(2005, 6, 27, 0, 0), 'K')
(24, 118, 'Canan', 'Tan', datetime.datetime(2005, 7, 7, 0, 0), 'K')
(25, 119, 'Ayşe', 'Taner', datetime.datetime(2005, 8, 17, 0, 0), 'K')
(26, 120, 'Bahadır', 'Toksöz', datetime.datetime(2005, 9, 7, 0, 0), 'E')
(27, 121, 'Ali', 'Cenk', datetime.datetime(2003, 7, 27, 0, 0), 'E')

In [4]:
#idStudent, StudentNumber, StudentName, StudentSurname, StudentBirthday, Gender

from connect import sifre
import mysql.connector
from datetime import datetime

def updateStudent(num,name,surname,birth,gen,id):
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password = sifre,
        database="schooldb"
    )
    cursor = connection.cursor()

    sql = "update student  set StudentNumber=%s, StudentName=%s, StudentSurname=%s, StudentBirthday=%s, Gender=%s where idStudent =%s "
    values=(num,name,surname,birth,gen,id)
    cursor.execute(sql,values)
    connection.commit()


    connection.close()

num=124
name="Gamze"
surname="Kaya"
birth = datetime(2015,4,10)
gen="K"
id=24
updateStudent(num,name,surname,birth,gen,id)
getStudent()

(13, 101, 'Ahmet', 'Yılmaz', datetime.datetime(2005, 5, 17, 0, 0), 'E')
(14, 102, 'Ali', 'Can', datetime.datetime(2005, 6, 27, 0, 0), 'E')
(15, 103, 'Canan', 'Tan', datetime.datetime(2005, 7, 7, 0, 0), 'K')
(16, 104, 'Ayşe', 'Taner', datetime.datetime(2005, 8, 17, 0, 0), 'K')
(17, 105, 'Bahadır', 'Toksöz', datetime.datetime(2005, 9, 7, 0, 0), 'E')
(18, 106, 'Ali', 'Cenk', datetime.datetime(2003, 7, 27, 0, 0), 'E')
(19, 107, 'Ahmet', 'Kaya', datetime.datetime(2005, 7, 13, 0, 0), 'E')
(20, 114, 'Ahmet', 'Yüce', datetime.datetime(2005, 7, 13, 0, 0), 'E')
(21, 115, 'Ahmet', 'Yüce', datetime.datetime(2005, 7, 13, 0, 0), 'E')
(22, 116, 'Ahmet', 'Yılmaz', datetime.datetime(2005, 5, 17, 0, 0), 'E')
(23, 117, 'Ayşe', 'Can', datetime.datetime(2005, 6, 27, 0, 0), 'K')
(24, 124, 'Gamze', 'Kaya', datetime.datetime(2015, 4, 10, 0, 0), 'K')
(25, 119, 'Ayşe', 'Taner', datetime.datetime(2005, 8, 17, 0, 0), 'K')
(26, 120, 'Bahadır', 'Toksöz', datetime.datetime(2005, 9, 7, 0, 0), 'E')
(27, 121, 'Ali', 'Cenk', datetime.datetime(2003, 7, 27, 0, 0), 'E')